body{
    text-align: center;
}

#btn{
    width: 100px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}

.btn1{
    background: grey;
}

.btn2{
    background: grey;
}